.container {
    position: relative;
}
#clip {
    position: absolute;
    clip: rect(160px, 200px, 200px, 0);
    /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
}