<label>
    Sectors:
    <select ng-model="activeSector" ng-options="s for s in sectors">
        <option value="">-- choose industry --</option>
    </select>

</label>
Filter: <input type="text" ng-model="filterCompany">
  <select ng-model="compName" ng-options="c for c in companies">
    <option value="">company-</option>
</select>

<dir-show-filter></dir-show-filter>

    <span ng-repeat="t in tickersBySector | orderBy: '-QMV' | limitTo:howMany.cnt">
        <span>{{t.Symbol+"."+t.Market}}</span>
        <a href="#/chart/{{t.Symbol + '.' + t.Market}}"><i class="fa fa-home"></i>
            <IMG  ng-src='http://www.advfn.com/p.php?pid=staticchart&s={{ formatADVFN(t.Symbol + "." + t.Market) }}&p=0&t=23&dm=1&vol=1'>            
        </a>
                <a href="#/chart/{{t.Symbol + '.' + t.Market}}"><i class="fa fa-home"></i>
                    <IMG  ng-src="http://chart.finance.yahoo.com/z?s={{t.Symbol + '.' + t.Market}}&t={{period.duration}}&q=c&l=on&z={{size.size}}&a=m,vm,fs,p&p=m50,b,v,m">
                </a>

        <a href="#/chart/{{t.Symbol + '.' + t.Market}}"><i class="fa fa-home"></i>
            <IMG  ng-src="http://ichart.yahoo.com/t?s={{t.Symbol + '.' + t.Market}}&width={{cWidth}}&height={{cWidth/1.402}}">
        </a>
    </span>


