<div >
    <dir-show-filter fltr-sectors="sectors"
                     active-sector="activeSector"
                     fltr-symbol="symbol"
                     fltr-periods="periods"
                     active-period="period"
                     fltr-sizes="sizes"
                     active-size="size"
                     fltr-records="howMany.cnt"
                     hide-sector="true"
                     hide-symbol="false"
                     hide-period="false"
                     hide-size="false"
                     hide-records="true">
    </dir-show-filter>

</div>
<div>
    <div ng-controller="afterHRSController">
    <after-hrs></after-hrs>
    </div>

    <div class="container">
        <br>
        <div ng-if="hideAdvfn==flase"><img id="clip"
             ng-src="http://www.advfn.com/p.php?pid=staticchart&s={{formatAdvfn(symbol.S)}}&p=0&t=23&dm=1&vol=1"/></div>
             <img class="frame" ng-src="http://realtimebigchart.gtm.idmanagedsolutions.com/custom/fidelity-com/big.chart?nosettings=1&symb={{symbol.s}}&uf=8&type=4&size=1&style=1145&freq=10mi&time=1&rand=1447825004572&compidx=aaaaa:0&comp=&ma=3&maval=9&lf=4&lf2=0&lf3=0&height=301&width=504&mocktick=1">

    </div>

    <div ng-if="hideAdvfn==flase"> <IMG class="frame" ng-src="http://www.advfn.com/p.php?pid=staticchart&s={{formatAdvfn(symbol.S)}}&p=0&t=23&dm=1&vol=1"> </div>
    <IMG class="frame" ng-src="http://chart.finance.yahoo.com/z?s={{symbol.S}}&t={{period.duration}}&q=c&l=on&z={{size.size}}&a=m,vm,fs,p&p=m50,b,v,m&lang=en-CA&region=CA">
    <IMG class="frame" ng-src="http://ichart.yahoo.com/t?a=m&p=m50&s={{symbol.S}}&width={{cWidth}}&height={{cWidth/1.402}}">

</div>
<li ng-repeat="f in favourites">
    <label><input type="radio" ng-model="selected.Symbol" ng-value="favSelected"> {{f.S}} </label>
    <button ng-click="f.splice($index, 1)" aria-label="">X</button>
</li>
