
<div>
    <dir-show-filter fltr-sectors="sectors"
                     active-sector="activeSector"
                     fltr-symbol="symbol"
                     fltr-periods="periods"
                     active-period="period"
                     fltr-sizes="sizes"
                     active-size="size"
                     fltr-records="recordFilters"
                     active-record="activeRecordFilter"
                     hide-sector="true"
                     hide-symbol="false"
                     hide-period="true"
                     hide-size="false"
                     hide-records="true">
    </dir-show-filter>
    <h1>

    </h1>
</div>
        <span  ng-if="hideRT==false"> <img class="frame"  ng-src="http://realtimebigchart.gtm.idmanagedsolutions.com/custom/fidelity-com/big.chart?nosettings=1&symb=CA:{{symbol.s}}&uf=0&type=4&size=1&style=1145&freq=1mi&time=1&rand=1448291271728&compidx=aaaaa:0&comp=&ma=0&maval=9&lf=268435456&lf2=0&lf3=0&height=301&width=504&mocktick=1" ></span>
        <span  ng-if="hideRT==false"> <img class="frame"  ng-src="http://realtimebigchart.gtm.idmanagedsolutions.com/custom/fidelity-com/big.chart?nosettings=1&symb=CA:{{symbol.s}}&uf=8&type=4&size=1&style=1145&freq=6&time=1&rand=1448289957111&compidx=aaaaa:0&comp=&ma=1&maval=9&lf=4&lf2=0&lf3=0&height=301&width=504&mocktick=1" ></span>
        <span  ng-if="hideRT1==true"> <img class="frame"  ng-src="http://realtimebigchart.gtm.idmanagedsolutions.com/custom/fidelity-com/big.chart?nosettings=1&symb=CA:{{symbol.s}}&uf=8&type=4&size=1&style=1145&freq=10mi&time=1&rand=1448289780408&compidx=aaaaa:0&comp=&ma=1&maval=9&lf=4&lf2=0&lf3=0&height=301&width=504&mocktick=1">             </span>

        <span  ng-if="hideRT1==false">  <img class="frame"  ng-src="http://realtimebigchart.gtm.idmanagedsolutions.com/custom/fidelity-com/big.chart?nosettings=1&symb=CA:{{symbol.s}}&uf=8&type=4&size=1&style=1145&freq=5mi&time=3dy&rand=1448289878255&compidx=aaaaa:0&comp=&ma=1&maval=9&lf=4&lf2=0&lf3=0&height=301&width=504&mocktick=1" >          </span>
        <span  ng-if="hideRT1==false"> <img class="frame"  ng-src="http://realtimebigchart.gtm.idmanagedsolutions.com/custom/fidelity-com/big.chart?nosettings=1&symb=CA:{{symbol.s}}&uf=8&type=4&size=1&style=1145&freq=1&time=4&rand=1448289821566&compidx=aaaaa:0&comp=&ma=1&maval=9&lf=4&lf2=0&lf3=0&height=301&width=504&mocktick=1" ></span>
        <span  ng-if="hideRT1==sfalse"> <img class="frame"  ng-src="http://realtimebigchart.gtm.idmanagedsolutions.com/custom/fidelity-com/big.chart?nosettings=1&symb=CA:{{symbol.s}}&uf=8&type=4&size=1&style=1145&freq=1&time=6&rand=1448290053221&compidx=aaaaa:0&comp=&ma=1&maval=9&lf=4&lf2=0&lf3=0&height=301&width=504&mocktick=1" ></span>

        <span  ng-if="hideRT1==sfalse"> <img class="frame"  ng-src="http://realtimebigchart.gtm.idmanagedsolutions.com/custom/fidelity-com/big.chart?nosettings=1&symb=CA:{{symbol.s}}&uf=8&type=4&size=1&style=1145&freq=30mi&time=3&rand=1448289858281&compidx=aaaaa:0&comp=&ma=1&maval=9&lf=4&lf2=0&lf3=0&height=301&width=504&mocktick=1" >            </span>
</div>
            